<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677130894537-3d298c2spunjohdjs99i020a7spu0u4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677130894537-3d298c2spunjohdjs99i020a7spu0u4s</string>
	<key>API_KEY</key>
	<string>AIzaSyCpl846kdREl6StHuNJOcQLrvvX3xVvAag</string>
	<key>GCM_SENDER_ID</key>
	<string>677130894537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naveen.FundooApp</string>
	<key>PROJECT_ID</key>
	<string>fundooapp-7dbed</string>
	<key>STORAGE_BUCKET</key>
	<string>fundooapp-7dbed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677130894537:ios:513a7ee526fdc8383aa118</string>
</dict>
</plist>